<%-include('./header.ejs')%>
<!--slide bar start-->
<div class="carousel slide" data-bs-ride="carousel" id="bb">
    <div class="carousel-inner">
        <div class="carousel-item active height" data-bs-interval="4000" >
            <img src="https://www.brandeis.edu/cms-guide/building-editing/content-types/images/banner-single-sample.jpg" alt="" class="w-100" style="height: 400px;">
        </div>
    </div>
    </div>
    <!--slide bar end-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 class="text-center why">
                    <span>About</span>
                    Us
                </h1>
            </div>
        </div>
    </div><!--container fluid end-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="whygreviance justify-content">
                        The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning. <br>
                        Oréll believes that providing on time and competent service is essential not only to attract new customers, but also to retain existing ones. RJITGrievance, the revolutionary online grievance handling mechanism aims at minimising instances of complaints in professional
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png" class="w-100" alt="">
                </div>
            </div><!--row end-->
            <div class="row">
                <p class="whygreviance justify-content">
                    colleges through effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online registration and disposal of grievances help users obtain immediate response and resolution to their grievances from the institution itself
                </p>
            </div>
        </div><!--container end-->
    </div><!--container fluid end-->
    <br> <br>
<%-include('./footer.ejs')%>