<footer>
    <div class="container-fluid footbg">
        <div class="container ">
            <div class="row ">
                <div class="col-md-5"> 
                    <div class="foot1">
                        <a href="" class="non foo"><h1>
                         <span>RJITGrievance</span>
                         Portal</h1></a>



                    <p>#1 Online Grievance Redressal Mechanism designed in accordance with
                         AICTE directive aims at resolving the grievances of students, parents,
                          staff and others with optimal transparency and accuracy.</p>
                </div>  
            </div>
                <div class="col-md-3"> <div class="foot1"><h2 class="h2">Some Links</h2>
                    <ul> 
                        <li><a href="/" class="nav-link ">Home</a></li>
                        <li><a href="/about" class="nav-link ">About</a></li>
                        <li><a href="https://www.rjiterp.org/rjit/index.php" class="nav-link ">CAAMS PORTAL </a></li>
                        <li><a href="https://www.rjit.ac.in/" class="nav-link ">rjit.ac.in </a></li>
                        <li><a href="https://www.rgpv.ac.in/" class="nav-link ">rgpv</a></li>
                        <li><a href="/GRS" class="nav-link  "> GRS</a></li>
                        <li><a href="/features" class="nav-link  "> Features</a></li>
                        <li><a href="/benefits" class="nav-link  ">Benefits </a></li>
                        <li><a href="/help" class="nav-link ">Help </a></li>
                    </ul>
        
                
                </div>   
            </div>
               
                <div class="col-md-4"> <div class="foot1">

                <h2 class="h2">24/7 SUPPORT & HELP</h2>
                <h6>Shivam Singh,Developer</h6>
                <h6>+91 8839336599,
                    <br>
                    +91 9399385570(Support)</h6>


                    <h2>Connect with Us</h2>

                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>

                

                </div>
            </div>
            </div>
            
        </div>
        <hr>
            <div class="row text-center">
                <div class="col-md-4 footlast"> Copyright @ 2023. RJITGravience Portal. All Rights Reserved</div>
                <div class="col-md-4 footlast"> Private Policy  Terms  & Condition</div>
                <div class="col-md-4 footlast"> Design By Shivam Singh</div>
               
            </div>
    </div>
</footer>
<!------------------footer end---------------------->
</body>

</html>