<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RJIT Grievance Portal</title>
    <link rel="icon" type="image/x-icon"
        href="https://th.bing.com/th/id/OIP.7YPYPOACBk5CFQ2LnvP_cAAAAA?w=156&h=149&c=7&r=0&o=5&pid=1.7">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Bootstrap Cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <!--------top bar start---------->
    <header>
        <div class="container-fluid topbody">
            <div class="row">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center justify-content-start top-bar">
                        <i class="fa-solid fa-mobile-retro face"></i>
                        <span class="number">+918839336599</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center text-center justify-content-center  top-bar">
                        <a href="" class="non">
                            <h1> <span class="itm" style="color: brown;">RJITGrievance</span>
                                Portal
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex align-items-center justify-content-end top-bar">
                        <a href="https://www.facebook.com/RJITGwalior" class="icon">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.rjit.ac.in/" class="icon">
                            <i class="fa-brands fa-square-twitter"></i>
                        </a>
                        <a href="https://in.linkedin.com/company/rustamji-institute-of-technology-rjit-" class="icon">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/rjit_bsf/?hl=en" class="icon">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </div>
                </div>

            </div><!--./row-end-->
        </div><!--./container fluid end-->
    </header>
    <!--./top bar end-->
    <!--nav bar start-->
    <nav class="navbar bg-dark navbar-dark navbar-expand-md  sticky-top  shadow-lg">
        <div class="container-fluid">
            <!--mobile view start-->
            <button class="navbar-toggler" data-bs-target="#alphabeta" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--mobile view end-->
            <!--menu bar start-->
            <div class=" navbar-collapse collapse" id="alphabeta">
                <ul class="navbar-nav sticky-top">
                    <li>
                        <a href="/" class="nav-link hov">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link hov">About</a>
                    </li>
                    <li>
                        <a href="/grs" class="nav-link hov">Grievance Redressal System</a>
                    </li>
                    <li>
                        <a href="/features" class="nav-link hov">Features</a>
                    </li>
                    <li>
                        <a href="/benefits" class="nav-link hov">Benefits</a>
                    </li>
                    <li>
                        <a href="/help" class="nav-link hov">Help</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li style="border:1px solid #e0d1cc; background-color: black; " class="shadow-lg">
                        <a href="/login" class="nav-link hov"> Login</a>
                    </li>
                </ul>
            </div>
            <!--menu end-->
        </div> <!--container-fluid-->
    </nav> <!--navbar end -->